beautifulsoup4==4.12.2
black~=23.11.0
cassio~=0.1.3
langchain==0.0.329
mypy==1.6.1
openai==0.28.0
ruff~=0.1.5
sentence-transformers==2.2.2
tiktoken==0.5.1

## mypy support:
# lxml-stubs
# pandas-stubs
# types-Pillow
# types-PyYAML
# types-Pygments
# types-beautifulsoup4
# types-jsonschema
# types-protobuf
# types-psutil
# types-pytz
# types-redis
# types-regex
# types-requests
# types-tqdm
# types-urllib3
